sudo: required
services:
  - docker

before_install:
  - docker build -t maximnd/docker-vue-continuous-integration -f Dockerfile.dev .

script:
  - docker run maximnd/docker-vue-continuous-integration npm run test
